.content__photo-name{
    margin: 0;
    margin-left: 10px ;
    opacity: 0;
    transition: .5s;
}
.content__photo:hover + .content__photo-name  {
    opacity: 1;
}
.content__photo-name_visible {
    opacity: 1;
}